html {
  -webkit-font-smoothing: antialiased;
}
* {
  margin:0;
  padding:0;
}
@import 'mixin';

@import 'components/menu';
@import 'components/indexGrid';
@import 'routes/projects';
@import 'routes/feed';
