
@import 'mixin';
@import 'utilities/fonts';
@import 'utilities/breakpoints';
@import 'components/menu';
@import 'components/indexGrid';

@import 'routes/projects';
@import 'routes/feed';
@import 'routes/object';



html {
  -webkit-font-smoothing: antialiased;
}
* {
  margin:0;
  padding:0;
}
