html {
  -webkit-font-smoothing: antialiased;
}
* {
  margin:0;
  padding:0;
  overflow: hidden;
}
.panel{
  width:0%;
  height:0%;
  display:none;
  top:0;
  right:0;
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0s, 0s;
}
.active-panel{
  width:100%;
  display:inherit;
  position:absolute;
  background-color: white;
  top:0;
  right:0;
  z-index:12;
  height:100%;
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0s, 0s;
  overflow-y: scroll;
}
.index-image{
  flex-wrap: wrap;
  z-index:5;
  display: flex;
  align-items: center;
}
.menu-links{
  width:100%;
  height:100%;
  opacity: 0;
  position:absolute;
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0s, 0s;
  overflow-x: hidden;
}
.menu-button {
  background-color: transparent;
  cursor: pointer;
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0s, 0s;
}
.is-active{
    background-color:rgba(255, 255, 255, 0.5); ;
    opacity: 1;
    z-index:10;
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0s, 0s;
}
