{# ------------------------------------------------------- #}
{# INDIVIDUAL VIEW FOR EACH projects #}
{# This page can use any data from http:localhost:2000/cms/#/form/projects/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this projects's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}
{% block content %}

{% include "templates/partials/menu.html" %}
<div id="projects">
    <a class="project-title" href="/">
      <p class= "h1 m1"> {{ item.name }}</p>
    </a>
    <div class="col-6 right">
      {% for image in item.project_gallery %}
        <img class= "project-images m1 fit mx-auto block" src="{{ image.url }}" />
      {% endfor %}
    </div>
    <p class= "col-5 m1">{{ item.markdown_text|markdown }}</p>
</div>
{% endblock %}
