{%
  set share_card = {
    title: getSetting('site_name'),
    preview_text: item.markdown_text|safe|truncate(200),
    image: item.main_image.url
  }
%}
{% extends "templates/partials/base.html" %}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}
{% block content %}
{% set config = {hideFilter: true, gallery: item.projectgallery, hero: item.projectgallery[0].image.url} %}
<div class="projects-page flex" id="projects">
  <div class="project-info xs-hide pt3">
    <div class="millerbannerroman project-title">
      <p class= ""> {{ item.name }}</p>
    </div>
    <div class="project-text millerbannerlight ">
      {{ item.markdown_text|markdown }}
    </div>
  </div>
  <div class="image-gallery">
    <p class= "center pt2 mb2 mt4 sm-hide md-hide lg-hide"> {{ item.name }}</p>
    {% for row in item.projectgallery %}
      <img class="project-images bwimage" src="{{ row.image.url }}" />
    {% endfor %}
    <div class="project-text pt2 sm-hide md-hide lg-hide pb2">
      {{ item.markdown_text|markdown }}
    </div>
  </div>
</div>

<a class="xs-hide" href="/">{% include "templates/partials/exit-button.html" %}</a>
<div class="feed" id="lightbox">
  <div class="index-button" id="exit">{% include "templates/partials/exit-button.html" %}</div>
  {% include "templates/partials/feed-gallery.html" with config %}
</div>

{% include "templates/partials/menu.html" with config %}
{% include "templates/partials/screensaver.html" %}
{% endblock %}
