{# ------------------------------------------------------- #}
{# INDIVIDUAL VIEW FOR EACH projects #}
{# This page can use any data from http:localhost:2000/cms/#/form/projects/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this projects's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}
{% block content %}
{% include "templates/partials/exit-button.html" %}
{% set config = {hideFilter: true, gallery: item.projectgallery, hero: item.projectgallery[0].image.url} %}
{% include "templates/partials/menu.html" with config %}

<div class="feed" id="lightbox">
  {% include "templates/partials/feed-gallery.html" with config %}
</div>
<div class="" id="projects">
  <div class="col-6 py3 image-gallery absolute right-0">
    {% for row in item.projectgallery %}
      <div class="project-images mt1 mx-auto block" style="background-image: url({{ row.image.url }})" /></div>
    {% endfor %}
  </div>
  <div class="project-title fixed col-6 px3 py2">
    <p class= "millerbannerroman mt2"> {{ item.name }}</p>
  </div>
  <div class="col-5 px3 mt2 fixed project-text">
    {{ item.markdown_text|markdown }}
  </div>
</div>
{% endblock %}
