<div class="feed-gallery">
  <div class="feed-hero-container fixed">
      <div class="feed-hero-image bwimage" style="background-image: url({{config.gallery[0].image.url}})" id="feed-image"></div>
  </div>
  <div class='feed bwimage' style='min-height: 110vh; position: relative;'>
    {% for row in config.gallery %}
      <div class='waypoint' id='waypoint-{{loop.index}}' style='height: 10vh; width:100%' data-image='{{ row.image.url }}'></div>
    {% endfor %}
    <div style="min-height: 100vh;"></div>
  </div>
</div>
