<div class="menu">
    <div class="menu-button fixed menu-graphic-container">
      <div class="menu-graphic">
        <div class="menu-links exiloutline" id="llinks">
          <a class="text-decoration-none " href="/"><div class="menu-text {% if config.projects %} active {% endif %}">work</div></a>
          <a class="text-decoration-none " href="/object"><div class="menu-text {% if getCurrentUrl() === url(item) and !config.projects %} active {% endif %}">object</div></a>
          <a class="text-decoration-none " href="/feed"><div class="menu-text {% if getCurrentUrl() === url(item) and !config.projects %} active {% endif %}">feed</div></a>
          <a class="text-decoration-none " href="/contact"><div class="menu-text {% if getCurrentUrl() === url(item) and !config.projects %} active {% endif %}">about</div></a>
        </div>
        <div id="lbutt">
          {% include "templates/partials/menu-icon.html" %}
        </div>
      </div>
      {% if !config.hideFilter %}
      <div class="filters menu-graphic">
        <div class="menu-links exiloutline" id="rlinks">
          {% for item in cms.filters %}
            <div class="individual-filter menu-text" data-filter="{{ item.name }}">{{ item.name }}</div>
          {% endfor %}
        </div>
        <div id="rbutt">
          {% include "templates/partials/filter-icon.html" %}
        </div>
      </div>
      {% endif %}
    </div>
 </div>
