<div id="menu">
  <div class="desktop-menus">
    <div class="menu-links menu-left center" id="llinks">
      <p class="h1 p0"><a class="text-decoration-none white" href="#">work</a></p>
      <p class="h1 p0"><a class="text-decoration-none white" href="#">object</a></p>
      <p class="h1 p0"><a class="text-decoration-none white" href="#">feed</a></p>
      <p class="h1 p0"><a class="text-decoration-none white" href="/contact">about</a></p>
    </div>
    <div class="menu-button menu-left left" id="lbutt">
      <p>[]</p>
    </div>
    <div class="menu-links  menu-right center" id="rlinks">
      {% for item in cms.filters %}
        <p class="h1 filters p0" data-filter=".{{ item.name  }}">{{ item.name  }}</p>
      {% endfor %}
    </div>
    <div class="menu-button menu-right right" id="rbutt">
      <p>[]</p>
    </div>
  </div>
 </div>
