<svg xmlns="http://www.w3.org/2000/svg" viewBox="-20 -20 143.41 140.2" class="menu-svg-icons">
  <defs>
    <style>.part{fill:#fff;stroke:#000;stroke-miterlimit:10;stroke-width:4px;} .active{fill:#000;}</style>
  </defs>
  <g id="loading">
    <circle id="circle" class="part circle circleL" cx="50.88" cy="50.88" r="49.87" transform="translate(-12.75 17.5) rotate(-17.17)"/>
    <line id="large-line" class="part large-line" x1="113.95" y1="70.3" x2="52.98" y2="38.11"/>
    <line id="small-line" class="part small-line" x1="14.48" y1="105.73" x2="29.52" y2="76.99"/>
  </g>
</svg>
