<div class="top-0" id="screensaver" style="background-image: url({{ cms.home.screensaver_image.url }}); background-repeat: repeat; background-size: contain;">
  <div class="screensaver-container">
    <div class="screensaver-stuff p1 exil">{{ cms.home.screensaver_text }}{{ cms.home.screensaver_text }}</div>
    <div class="screensaver-stuff p1 exil">{{ cms.home.screensaver_text }}{{ cms.home.screensaver_text }}</div>
    <div class="screensaver-stuff p1 exil">{{ cms.home.screensaver_text }}{{ cms.home.screensaver_text }}</div>
    <div class="screensaver-stuff p1 exil">{{ cms.home.screensaver_text }}{{ cms.home.screensaver_text }}</div>
    <div class="screensaver-stuff p1 exil">{{ cms.home.screensaver_text }}{{ cms.home.screensaver_text }}</div>
  </div>
</div>
