<div class="screensaver-container exiloutline " id="screensaver">
  <div class="marquee">
    <div class="screensaver-stuff p1  ">{{ cms.home.screensaver_text }}</div>
    <div class="screensaver-stuff p1  ">{{ cms.home.screensaver_text }}</div>
    <div class="screensaver-stuff p1  ">{{ cms.home.screensaver_text }}</div>
    <div class="screensaver-stuff p1  ">{{ cms.home.screensaver_text }}</div>
    <div class="screensaver-stuff p1  ">{{ cms.home.screensaver_text }}</div>
    <div class="screensaver-stuff p1  ">{{ cms.home.screensaver_text }}</div>
    <div class="screensaver-stuff p1  ">{{ cms.home.screensaver_text }}</div>
    <div class="screensaver-stuff p1  ">{{ cms.home.screensaver_text }}</div>
    <div class="screensaver-stuff p1  ">{{ cms.home.screensaver_text }}</div>
    <div class="screensaver-stuff p1  ">{{ cms.home.screensaver_text }}</div>
  </div>
</div>
