$roman: "Miller Ban Rom", serif;

.millerbannerroman{
   font-family: $roman;
   font-style: Normal;
   font-weight: Normal;
}
$light: "Miller Ban Lt", serif;
.millerbannerlight{
   font-family: $light;
   font-style: Normal;
   font-weight: Normal;
}
@font-face {
    font-family: 'exil71outline';
    src: url('/static/fonts/exil71-outline-webfont.woff2') format('woff2'),
         url('/static/fonts/exil71-outline-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
$exiloutline: "exil71outline", sans-serif;
.exiloutline{
  font-family: $exiloutline;
  text-transform: uppercase;
}
@font-face {
    font-family: 'exil71medium';
    src: url('/static/fonts/exil71-webfont.woff2') format('woff2'),
         url('/static/fonts/exil71-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
$exil: "exil71medium", sans-serif;
.exil{
  font-family: $exil;
  text-transform: uppercase;
}
