.about{
  font-size: 2.5em;
  font-family: "Miller Ban Lt";
  height:100%;
  width:100%;
  color:$black;
  @media (max-width:$sm) {
    font-size: 1.5em;
    z-index: -1;
    width: 100vw;
  }
  .profile-pic-gallery{
    z-index: -1;
    pointer-events: auto;
    width:48%;
    height: 100%;
    right:0;
    position: fixed;
    overflow: scroll;
    padding-bottom: 2rem;
    color:$black;
    @media (max-width:$sm) {
      width:100%;
      height:100%;
      position: relative;
      padding-bottom: 1rem;
      p{
        margin-left:1rem;
        margin-right:1rem;
      }
    }
    .profile-pic{
      @media (max-width:$sm) {
      margin-left:0;
      }
    }
    .mobile-info{
      pointer-events: auto;
      @media (min-width:$sm) {
        display:none;
      }
    }
  }
  .name-text-about{
    margin-left: 2.5rem;
    width:48%;
    height: 100%;
    float:left;
    position: fixed;
    overflow: scroll;
    z-index: -1;
  }
}
