.about{
  margin-left:3rem;
  .profile-pic-gallery{
    z-index: -1;
    position: relative;
  }
  .name-text-about{
    p{
      @media (max-width:$sm) {
        margin-left:1rem;
        padding:0;
        padding-bottom: 1rem;
        &:first-child{
          text-align: center;
          padding-top:4rem;
          padding-bottom: 1rem;
        }
      }
    }
  }
  p{
    font-size: 3em;
    font-family: "Miller Ban Lt";
    margin-right: 1rem;
    @media (max-width:$sm) {
      font-size: 1.5em;
    }
  }
  @media (max-width:$sm) {
    margin:0;
    padding:0;
  }
  .features{
    p{
      color:black;
    }
    @media (max-width:$sm) {
      &:first-child{
        padding-bottom: 1rem;
      }
      margin-left:1rem;
      padding:0;
    }
  }
  .contact-info{
    p{
      color:black;
    }
      @media (max-width:$sm) {
        &:first-child{
          padding-bottom: 1rem;
        }
        margin-left:1rem;
        padding:0;
        padding-bottom: 1rem;
    }
  }
}
