.feed-index{
  .image-data{
    
    .black-line-container{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .black-line{
        background-color: black;
        height:.2rem;
        width:100%;
      }
    }
  }
  .image-data:hover{
      color:orange;
      .black-line{
        background-color:orange;
    }
  }
}
