.index-page{
  max-height:1000px;
  width:100%;
  p{
    color:black;
  }
  .title{
    display: flex;
    align-items: center;
    justify-content:center;
    align-content: space-around;
    width:100%;
    height:100%;
    opacity:1;
    z-index:100;
    pointer-events: none;
    background-color: transparent;
    mix-blend-mode: difference;
    transition-duration: 0.1s, 0.1s;
    .title-text{
      color: transparent;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: orange;
      font-size:130px;
      @media (max-width:$lg) {
        font-size:80px;
      }
      @media (max-width:$md) {
        font-size:65px;
        -webkit-text-stroke-width: 2px;
      }
      @media (max-width:$sm) {
        font-size:45px;
      }
    }
    &.is-active{
      opacity:0;
    }
  }
  .left-container{
    height:100vh;
    position: fixed;
    z-index: 0;
  }
  .right-container{
    height:100vh;
    margin-top:200vh;
    z-index: 0;
  }
  .content-container{
    position: relative;
    display: inline-block;
    width: 50vw;
    height: 75vh;
    margin: 0;
    cursor:pointer;
    @media (max-width:$sm) {
      width: 50vw;
    }
    .content {
      .image {
        pointer-events: auto;
        background-repeat:no-repeat;
        background-size: contain;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        p{
          display:none;
        }
        &:hover{
          background-size: 0;
          background-color: white;
          border: 2px solid;
          border-color:orange;
          p{
            display:block;
            color: orange;
          }
        }
      }
    }
  }
}
