.projects-page{
  .grid{
    .grid-sizer,
    .grid-item {
      width: 50%;
    }
    .grid-item {
      float: left;
      display: block;
      max-width: 100%;
    }
  }
  .project-info{
    width:50%;
    p{
      font-size: 2.5em;
      font-family: "Miller Ban Lt";
      @media (max-width:$md) {
        font-size: 1.5em;
      }
    }
    @media (max-width:$md) {
      width:100%;
      position: fixed;

    }
  }
  .image-gallery{
    width:50%;

    @media (max-width:$md) {
      width: 100%;
      height: 50%;
      position: absolute;
    }
    .project-images{
      width: 100%;
      height: 100%;
      background-repeat:no-repeat;
      background-size: contain;
      background-position: right;
      @media (max-width:$md) {
        // width: 100%;
        // height: 100%;
        // position: absolute;
      }
    }
  }
}
#lightbox{
  position: fixed;
  opacity: 0;
  top: 0;
  z-index:-10;
  width: 100%;
  background-color:white;
  @media (max-width:48em) {
    background-color:white;
  }
}
