#projects{
  //position: fixed;
  .grid{
    .grid-sizer,
    .grid-item {
      width: 50%;
    }
    .grid-item {
      float: left;
      display: block;
      max-width: 100%;
    }
  }
  .project-text{
    p{
      font-size: 2.5rem;
      font-family: "Miller Ban Lt";
      @media (max-width:$md) {
        font-size: 1.5rem;
      }
    }
  }
  .project-title{
    p{
      font-size: 2.5rem;
      @media (max-width:$md) {
        font-size: 1.5rem;
        width: 95%;
      }
    }
  }
  .project-images{
    z-index:0;
    float:right;
    width: 95%;
    height: 50%;
    background-repeat:no-repeat;
    background-size: contain;
    background-position: center;
    @media (max-width:48em) {
      width: 95%;
    }
  }
  .image-gallery{
    height:100%;
  }
}
#lightbox{
 position: fixed;
  opacity: 0;
  top: 0;
  width: 100%;
  background-color:white;
  //z-index: 100;
}
