.millerbannerroman {
  font-family: "Miller Ban Rom";
  font-style: Normal;
  font-weight: Normal;
}

.millerbannerlight {
  font-family: "Miller Ban Lt";
  font-style: Normal;
  font-weight: Normal;
}

@font-face {
  font-family: 'exil71medium';
  src: url("/static/fonts/exil71-webfont.eot");
  src: url("/static/fonts/exil71-webfont.eot?#iefix") format("embedded-opentype"), url("/static/fonts/exil71-webfont.woff2") format("woff2"), url("/static/fonts/exil71-webfont.woff") format("woff"), url("/static/fonts/exil71-webfont.ttf") format("truetype"), url("/static/fonts/exil71-webfont.svg#exil71medium") format("svg");
  font-weight: normal;
  font-style: normal;
}
.exil {
  font-family: "exil71medium", sans-serif;
  text-transform: uppercase;
}

.black-and-white {
  filter: grayscale(100%);
}

.menu .menu-button, .menu .menu-graphic-container {
  z-index: 100;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  pointer-events: none;
}
.menu .menu-button .menu-graphic, .menu .menu-graphic-container .menu-graphic {
  width: 5%;
  height: 5%;
  pointer-events: auto;
}
.menu .menu-button .menu-graphic .menu-links, .menu .menu-graphic-container .menu-graphic .menu-links {
  width: 0%;
  height: 100%;
  position: fixed;
  transition-duration: 0.3s, 0.3s;
  overflow-x: hidden;
  align-items: center;
  top: 0;
  margin-top: 5%;
  margin-left: 10%;
  text-align: center;
}
.menu .menu-button .menu-graphic .menu-links .menu-text, .menu .menu-graphic-container .menu-graphic .menu-links .menu-text {
  font-size: 6em;
  color: transparent;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: black;
  -webkit-text-fill-color: transparent;
  /* Will override color (regardless of order) */
}
@media (max-width: 48em) {
  .menu .menu-button .menu-graphic .menu-links .menu-text, .menu .menu-graphic-container .menu-graphic .menu-links .menu-text {
    margin-top: 15%;
    font-size: 2rem;
    -webkit-text-stroke-width: 2px;
  }
}
.menu .menu-button .menu-graphic .menu-links.is-active, .menu .menu-graphic-container .menu-graphic .menu-links.is-active {
  width: 80%;
}
@media (max-width: 48em) {
  .menu .menu-button .menu-graphic .menu-links, .menu .menu-graphic-container .menu-graphic .menu-links {
    font-size: 3rem;
    margin-left: 0%;
  }
}
.menu .menu-button .filters, .menu .menu-graphic-container .filters {
  float: right;
  pointer-events: auto;
}
.menu .menu-button .filters .menu-links, .menu .menu-graphic-container .filters .menu-links {
  right: 0;
  margin-top: 5%;
  margin-right: 10%;
  width: 0%;
  height: 100%;
  text-align: center;
}
.menu .menu-button .filters .menu-links.is-active, .menu .menu-graphic-container .filters .menu-links.is-active {
  width: 80%;
}
.menu .menu-button .filters .exit-button-filter, .menu .menu-graphic-container .filters .exit-button-filter {
  display: none;
}
.menu .menu-button .filters .exit-button-filter.is-active, .menu .menu-graphic-container .filters .exit-button-filter.is-active {
  display: block;
}
.menu svg:hover .large-line {
  animation-name: largeline;
  animation-duration: 1000ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-play-state: running;
  animation-fill-mode: forwards;
}
.menu svg:hover .circle {
  animation-name: circle;
  animation-duration: 1000ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-play-state: running;
  animation-fill-mode: forwards;
}
@keyframes largeline {
  from {
    transform: rotate(0deg);
    transform: skew(0deg, 0deg);
  }
  to {
    transform: rotate(20deg);
    transform: skew(0deg, 40deg);
  }
}
@keyframes circle {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.15, 1.15);
  }
}
#screensaver {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0px;
  top: 0px;
  display: none;
  z-index: 9999;
  background-color: black;
}
#screensaver .screensaver-stuff {
  width: 350%;
  color: red;
  background-color: black;
  margin-left: -300%;
  font-size: 3rem;
  margin-top: 1em;
  margin-bottom: 1em;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: red;
  -webkit-text-fill-color: transparent;
  -webkit-animation-name: textmove;
  -webkit-animation-duration: 5s;
  -webkit-animation-timing-function: linear;
  animation-name: textmove;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-webkit-keyframes textmove {
  0% {
    margin-left: -120%;
  }
  100% {
    margin-left: -20%;
  }
}
@keyframes textmove {
  0% {
    margin-left: -111%;
  }
  100% {
    margin-left: 0%;
  }
}
.exit-button {
  z-index: 10;
  cursor: pointer;
  color: black;
}

.about {
  margin-left: 3rem;
}
.about p {
  font-size: 3em;
  font-family: "Miller Ban Lt";
  margin-right: 1rem;
}
@media (max-width: 52em) {
  .about p {
    font-size: 1.5em;
  }
}
@media (max-width: 52em) {
  .about {
    margin-left: 1rem;
  }
}

.errorpage {
  width: 100%;
  height: 100%;
  background-color: black;
  color: red;
}

.feed-index {
  display: none;
  top: 0;
  width: 100%;
  position: absolute;
}
.feed-index .exit-button {
  position: fixed;
}
.feed-index .image-data .black-line-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.feed-index .image-data .black-line-container .black-line {
  background-color: black;
  height: .2rem;
  width: 100%;
}
.feed-index .image-data:hover {
  color: orange;
}
.feed-index .image-data:hover .black-line {
  background-color: orange;
}

.projects-page .grid .grid-sizer,
.projects-page .grid .grid-item {
  width: 50%;
}
.projects-page .grid .grid-item {
  float: left;
  display: block;
  max-width: 100%;
}
.projects-page .project-info {
  margin-left: 3rem;
  pointer-events: none;
}
.projects-page .project-info p {
  font-size: 3em;
  font-family: "Miller Ban Lt";
}
@media (max-width: 52em) {
  .projects-page .project-info p {
    font-size: 1.5em;
  }
}
@media (max-width: 52em) {
  .projects-page .project-info {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
.projects-page .image-gallery {
  height: 100%;
  right: 0;
  margin-top: 2rem;
}
.projects-page .image-gallery .project-images {
  margin-top: 1rem;
  z-index: 0;
  width: 100%;
  height: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}
@media (max-width: 48em) {
  .projects-page .image-gallery .project-images {
    width: 95%;
    height: 24%;
    margin-left: 3px;
  }
}

#lightbox {
  position: fixed;
  opacity: 0;
  top: 0;
  z-index: -10;
  width: 100%;
  background-color: white;
}
@media (max-width: 48em) {
  #lightbox {
    background-color: white;
  }
}

.index-page {
  max-height: 1000px;
  width: 100%;
}
.index-page .title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  opacity: 1;
  z-index: 1000;
  pointer-events: none;
  background-color: transparent;
  transition-duration: 0.3s, 0.3s;
}
.index-page .title .title-text {
  color: transparent;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: black;
  font-size: 10rem;
}
@media (max-width: 48em) {
  .index-page .title .title-text {
    font-size: 3rem;
    -webkit-text-stroke-width: 2px;
  }
}
.index-page .title.is-active {
  opacity: 0;
}
.index-page .left-container {
  height: 100vh;
  position: fixed;
  z-index: 0;
}
.index-page .right-container {
  height: 100vh;
  margin-top: 0vh;
  z-index: 0;
}
.index-page .content-container {
  position: relative;
  display: inline-block;
  width: 50vw;
  height: 75vh;
  margin: 0;
  cursor: pointer;
}
@media (max-width: 48em) {
  .index-page .content-container {
    width: 50vw;
  }
}
.index-page .content-container .content .image {
  pointer-events: auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.index-page .content-container .content .image p {
  display: none;
}
.index-page .content-container .content .image:hover {
  background-size: 0;
  background-color: white;
  border: 4px solid;
  border-color: orange;
}
.index-page .content-container .content .image:hover p {
  display: block;
}

.feed .feed-gallery {
  pointer-events: none;
}
.feed .index-button {
  position: fixed;
  width: 100%;
  height: 100%;
  right: 0;
}
@media (max-width: 52em) {
  .feed .index-button {
    display: flex;
    justify-content: center;
    padding: 0;
  }
}
.feed .feed-hero-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.feed .feed-hero-container .feed-hero-image {
  max-width: 100%;
  max-height: 100%;
  min-height: 80%;
  min-width: 80%;
  z-index: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
@media (max-width: 52em) {
  .feed .feed-hero-container .feed-hero-image {
    min-height: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
  }
}

.object-page {
  width: 100%;
  height: 100%;
}
.object-page .object-gallery {
  position: relative;
  display: inline-block;
  float: right;
  top: 0;
  right: 0;
  overflow: scroll;
  z-index: 0;
}
.object-page .object-gallery .object-image {
  margin-left: 0%;
  margin-top: 0%;
}
@media (max-width: 52em) {
  .object-page .object-gallery .object-image {
    width: 95%;
  }
}
.object-page .object-text-container {
  visibility: hidden;
  float: left;
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 3rem;
  pointer-events: none;
}
@media (max-width: 36em) {
  .object-page .object-text-container {
    width: 100%;
    background-color: white;
    z-index: 100;
    padding: 0;
    margin: 0;
    top: 10%;
  }
}
.object-page .object-text-container .project-info, .object-page .object-text-container .title {
  font-size: 3em;
  font-family: "Miller Ban Lt";
}
@media (max-width: 52em) {
  .object-page .object-text-container .project-info, .object-page .object-text-container .title {
    font-size: 1.5em;
  }
}
@media (max-width: 52em) {
  .object-page .object-text-container .project-info, .object-page .object-text-container .title {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

html {
  -webkit-font-smoothing: antialiased;
}

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

/*# sourceMappingURL=main.css.map */
