.millerbannerroman {
  font-family: "Miller Ban Rom";
  font-style: Normal;
  font-weight: Normal;
}

.millerbannerlight {
  font-family: "Miller Ban Lt";
  font-style: Normal;
  font-weight: Normal;
}

@font-face {
  font-family: 'exil71medium';
  src: url("/static/fonts/exil71-webfont.eot");
  src: url("/static/fonts/exil71-webfont.eot?#iefix") format("embedded-opentype"), url("/static/fonts/exil71-webfont.woff2") format("woff2"), url("/static/fonts/exil71-webfont.woff") format("woff"), url("/static/fonts/exil71-webfont.ttf") format("truetype"), url("/static/fonts/exil71-webfont.svg#exil71medium") format("svg");
  font-weight: normal;
  font-style: normal;
}
.exil {
  font-family: "exil71medium", sans-serif;
  text-transform: uppercase;
}

.menu .menu-button, .menu .menu-graphic-container {
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  pointer-events: none;
}
.menu .menu-button .menu-graphic, .menu .menu-graphic-container .menu-graphic {
  width: 5%;
  height: 5%;
  pointer-events: auto;
}
.menu .menu-button .menu-graphic .menu-links, .menu .menu-graphic-container .menu-graphic .menu-links {
  width: 0%;
  height: 100%;
  position: absolute;
  transition-duration: 0.3s, 0.3s;
  overflow-x: hidden;
  align-items: center;
  font-size: 8em;
  top: 0;
  margin-top: 5%;
  margin-left: 10%;
  text-align: center;
}
.menu .menu-button .menu-graphic .menu-links a, .menu .menu-graphic-container .menu-graphic .menu-links a {
  color: black;
}
.menu .menu-button .menu-graphic .menu-links.is-active, .menu .menu-graphic-container .menu-graphic .menu-links.is-active {
  width: 80%;
}
.menu .menu-button .filters, .menu .menu-graphic-container .filters {
  float: right;
  pointer-events: auto;
}
.menu .menu-button .filters .menu-links, .menu .menu-graphic-container .filters .menu-links {
  right: 0;
  margin-top: 5%;
  margin-right: 10%;
  width: 0%;
  height: 100%;
  text-align: center;
  font-size: 6em !important;
}
.menu .menu-button .filters .menu-links.is-active, .menu .menu-graphic-container .filters .menu-links.is-active {
  width: 80%;
}
.menu svg:hover .large-line {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-play-state: running;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(30deg);
  }
}
.about p {
  font-size: 2.5rem;
  font-family: "Miller Ban Lt";
}
@media (max-width: 52em) {
  .about p {
    font-size: 1.5rem;
  }
}

.feed-index .image-data .black-line-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.feed-index .image-data .black-line-container .black-line {
  background-color: black;
  height: .2rem;
  width: 100%;
}
.feed-index .image-data:hover {
  color: orange;
}
.feed-index .image-data:hover .black-line {
  background-color: orange;
}

#projects .grid .grid-sizer,
#projects .grid .grid-item {
  width: 50%;
}
#projects .grid .grid-item {
  float: left;
  display: block;
  max-width: 100%;
}
#projects .project-text p {
  font-size: 2.5rem;
  font-family: "Miller Ban Lt";
}
@media (max-width: 52em) {
  #projects .project-text p {
    font-size: 1.5rem;
  }
}
#projects .project-title p {
  font-size: 2.5rem;
}
@media (max-width: 52em) {
  #projects .project-title p {
    font-size: 1.5rem;
    width: 95%;
  }
}
#projects .project-images {
  z-index: 0;
  float: right;
  width: 95%;
  height: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
@media (max-width: 48em) {
  #projects .project-images {
    width: 95%;
  }
}
#projects .image-gallery {
  height: 100%;
}

#lightbox {
  position: fixed;
  opacity: 0;
  top: 0;
  width: 100%;
  background-color: white;
}

.index-page {
  max-height: 1000px;
  width: 100%;
}
.index-page .title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10rem;
  width: 100%;
  height: 100vh;
  opacity: 1;
  z-index: 10000;
  pointer-events: none;
  background-color: transparent;
  transition-duration: 0.3s, 0.3s;
}
.index-page .title.is-active {
  opacity: 0;
}
.index-page .left-container {
  height: 100vh;
  position: fixed;
  z-index: 0;
}
.index-page .right-container {
  height: 100vh;
  margin-top: 100vh;
  z-index: 0;
}
.index-page .content-container {
  position: relative;
  display: inline-block;
  width: 50vw;
  height: 100vh;
  margin: 0;
  cursor: pointer;
}
.index-page .content-container .content .image {
  pointer-events: auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.index-page .content-container .content .image p {
  display: none;
}
.index-page .content-container .content .image:hover {
  background-size: 0;
  background-color: white;
  border: 4px solid;
  border-color: orange;
}
.index-page .content-container .content .image:hover p {
  display: block;
}

.feed .feed-hero-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.feed .feed-hero-container .feed-hero-image {
  max-width: 100%;
  max-height: 100%;
  min-height: 80%;
  min-width: 80%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.object-page {
  width: 100%;
  height: 100%;
}
.object-page .object-gallery {
  position: relative;
  display: inline-block;
  float: right;
  top: 0;
  right: 0;
  overflow: scroll;
  z-index: 0;
}
.object-page .object-gallery .object-image {
  margin-left: 0%;
  margin-top: 0%;
}
@media (max-width: 52em) {
  .object-page .object-gallery .object-image {
    width: 95%;
  }
}
.object-page .object-text-container {
  visibility: hidden;
  float: left;
  position: fixed;
  top: 0;
  left: 0;
}
.object-page .object-text-container .project-info p {
  font-size: 2.5rem;
  font-family: "Miller Ban Lt";
}
@media (max-width: 52em) {
  .object-page .object-text-container .project-info p {
    font-size: 1.5rem;
  }
}
.object-page .object-text-container .title {
  font-size: 2.5rem;
  font-family: "Miller Ban Rom";
  font-size: 2.5rem;
}
@media (max-width: 52em) {
  .object-page .object-text-container .title {
    font-size: 1.5rem;
    width: 95%;
  }
}

html {
  -webkit-font-smoothing: antialiased;
}

* {
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=main.css.map */
