.millerbannerroman {
  font-family: "Miller Ban Rom";
  font-style: Normal;
  font-weight: Normal;
}

.millerbannerlight {
  font-family: "Miller Ban Lt";
  font-style: Normal;
  font-weight: Normal;
}

@font-face {
  font-family: 'exil71medium';
  src: url("/static/fonts/exil71-webfont.eot");
  src: url("/static/fonts/exil71-webfont.eot?#iefix") format("embedded-opentype"), url("/static/fonts/exil71-webfont.woff2") format("woff2"), url("/static/fonts/exil71-webfont.woff") format("woff"), url("/static/fonts/exil71-webfont.ttf") format("truetype"), url("/static/fonts/exil71-webfont.svg#exil71medium") format("svg");
  font-weight: normal;
  font-style: normal;
}
.exil {
  font-family: "exil71medium", sans-serif;
  text-transform: uppercase;
}

.orange {
  color: #FF5B00;
}

.black-and-white {
  filter: grayscale(100%);
}

.menu .menu-button, .menu .menu-graphic-container {
  background-color: transparent;
  cursor: pointer;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
  mix-blend-mode: color-dodge;
}
.menu .menu-button .menu-graphic, .menu .menu-graphic-container .menu-graphic {
  pointer-events: auto;
}
.menu .menu-button .menu-graphic #lbutt, .menu .menu-graphic-container .menu-graphic #lbutt {
  position: relative;
  z-index: 100;
}
@media only screen and (max-device-width: 736px) and (orientation: portrait) {
  .menu .menu-button .menu-graphic #lbutt, .menu .menu-graphic-container .menu-graphic #lbutt {
    z-index: 100;
  }
}
.menu .menu-button .menu-graphic #rbutt, .menu .menu-graphic-container .menu-graphic #rbutt {
  position: relative;
  z-index: 100;
}
@media only screen and (max-device-width: 736px) and (orientation: portrait) {
  .menu .menu-button .menu-graphic #rbutt, .menu .menu-graphic-container .menu-graphic #rbutt {
    z-index: 100;
  }
}
.menu .menu-button .menu-graphic .menu-links, .menu .menu-graphic-container .menu-graphic .menu-links {
  width: 0%;
  top: 0;
  height: 100%;
  transition-duration: 0.1s, 0.1s;
  overflow-x: hidden;
  align-items: center;
  align-content: space-around;
  position: absolute;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  display: flex;
  z-index: 2;
}
@media (max-width: 36em) {
  .menu .menu-button .menu-graphic .menu-links, .menu .menu-graphic-container .menu-graphic .menu-links {
    position: fixed;
    height: 0%;
    width: 100%;
  }
}
.menu .menu-button .menu-graphic .menu-links.is-active, .menu .menu-graphic-container .menu-graphic .menu-links.is-active {
  width: 100%;
}
@media (max-width: 36em) {
  .menu .menu-button .menu-graphic .menu-links.is-active, .menu .menu-graphic-container .menu-graphic .menu-links.is-active {
    padding-top: 15%;
    padding-bottom: 15%;
    height: 100%;
    width: 100%;
  }
}
.menu .menu-button .menu-graphic .menu-links .menu-text, .menu .menu-graphic-container .menu-graphic .menu-links .menu-text {
  font-size: 120px;
  text-align: center;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #121212;
}
.menu .menu-button .menu-graphic .menu-links .menu-text:hover, .menu .menu-graphic-container .menu-graphic .menu-links .menu-text:hover {
  -webkit-text-fill-color: #121212;
}
@media (max-width: 60em) {
  .menu .menu-button .menu-graphic .menu-links .menu-text, .menu .menu-graphic-container .menu-graphic .menu-links .menu-text {
    font-size: 80px;
  }
}
@media (max-width: 52em) {
  .menu .menu-button .menu-graphic .menu-links .menu-text, .menu .menu-graphic-container .menu-graphic .menu-links .menu-text {
    font-size: 65px;
    -webkit-text-stroke-width: 2px;
  }
}
@media (max-width: 36em) {
  .menu .menu-button .menu-graphic .menu-links .menu-text, .menu .menu-graphic-container .menu-graphic .menu-links .menu-text {
    font-size: 45px;
    -webkit-text-stroke-width: 1px;
  }
}
.menu .menu-button .menu-graphic .exit-button-filter, .menu .menu-graphic-container .menu-graphic .exit-button-filter {
  display: none;
}
.menu .menu-button .menu-graphic .exit-button-filter.is-active, .menu .menu-graphic-container .menu-graphic .exit-button-filter.is-active {
  display: block;
}
.menu .menu-button .menu-graphic #rlinks, .menu .menu-graphic-container .menu-graphic #rlinks {
  float: right;
  right: 0;
}
@media (max-width: 52em) {
  .menu .menu-button .menu-graphic #rlinks, .menu .menu-graphic-container .menu-graphic #rlinks {
    margin-right: 0%;
  }
}
.menu .menu-button .menu-graphic #llinks, .menu .menu-graphic-container .menu-graphic #llinks {
  float: left;
}
@media (max-width: 52em) {
  .menu .menu-button .menu-graphic #llinks, .menu .menu-graphic-container .menu-graphic #llinks {
    margin-left: 0%;
  }
}

#svg2 {
  transform-origin: 25% 25%;
  float: right;
  right: 0;
  width: 50%;
  margin-right: -20%;
}
@media (max-width: 36em) {
  #svg2 {
    bottom: 0;
    float: none;
    left: 45%;
    position: fixed;
    margin-bottom: -10%;
    width: 30%;
  }
}

#svg {
  transform-origin: 50% 50%;
  margin-left: 0%;
  mix-blend-mode: difference;
  width: 30%;
}
@media (max-width: 36em) {
  #svg {
    top: 0;
    margin-top: 0;
    float: none;
    margin-left: 0%;
    left: 40%;
    position: fixed;
    width: 20%;
  }
}

svg {
  z-index: 100;
  margin-top: 10%;
}

#screensaver {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 9999;
  background-color: black;
}
@media (max-width: 36em) {
  #screensaver {
    width: 200%;
  }
}
#screensaver .screensaver-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
#screensaver .screensaver-container .screensaver-stuff {
  width: 200%;
  color: #FF5B00;
  background-color: black;
  font-size: 80px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: red;
  -webkit-text-fill-color: transparent;
  -webkit-animation-name: textmove;
  -webkit-animation-duration: 10s;
  -webkit-animation-timing-function: linear;
  animation-name: textmove;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@media (max-width: 36em) {
  #screensaver .screensaver-container .screensaver-stuff {
    font-size: 50px;
    -webkit-animation-name: textmovemobile;
    animation-name: textmovemobile;
  }
}
@-webkit-keyframes textmove {
  0% {
    margin-left: -200%;
  }
  100% {
    margin-left: 100%;
  }
}
@-webkit-keyframes textmovemobile {
  0% {
    margin-left: -300%;
  }
  100% {
    margin-left: 200%;
  }
}
.exit-button {
  z-index: 10;
  cursor: pointer;
  color: black;
  position: fixed;
}

.joeldown strong {
  font-family: Helvetica, Arial, sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  top: 0;
}

.profile-pic:hover {
  -webkit-filter: hue-rotate(180deg);
}

.about {
  margin-left: 3rem;
  font-size: 3em;
  font-family: "Miller Ban Lt";
  margin-right: 1rem;
}
@media (max-width: 36em) {
  .about {
    font-size: 1.5em;
    padding: 0;
    flex-direction: column-reverse;
    margin: 0;
  }
}
.about .profile-pic-gallery {
  z-index: -1;
  pointer-events: auto;
  width: 40%;
  height: 100%;
  right: 0;
  position: fixed;
  overflow: scroll;
  padding-bottom: 2rem;
  color: black;
}
@media (max-width: 36em) {
  .about .profile-pic-gallery {
    width: 100%;
    position: relative;
    padding-bottom: 1rem;
  }
  .about .profile-pic-gallery p {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
@media (max-width: 36em) {
  .about .profile-pic-gallery .profile-pic {
    margin-left: 0;
  }
}
@media (min-width: 36em) {
  .about .profile-pic-gallery .mobile-info {
    display: none;
  }
}
.about .name-text-about {
  width: 50%;
  height: 100%;
  float: left;
  position: fixed;
  overflow: scroll;
  z-index: -1;
}

.errorpage {
  width: 100%;
  height: 100%;
  background-color: black;
  color: red;
}

.feed-index {
  display: none;
  top: 0;
  width: 100%;
  position: absolute;
}
@media (max-width: 36em) {
  .feed-index {
    margin-top: 3rem;
  }
}
.feed-index .exit-button {
  position: fixed;
}
@media (max-width: 36em) {
  .feed-index .exit-button {
    display: none;
  }
}
.feed-index .image-data {
  color: black;
}
.feed-index .image-data .black-line-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.feed-index .image-data .black-line-container .black-line {
  background-color: black;
  height: .2rem;
  width: 100%;
}
.feed-index .image-data:hover {
  color: orange;
}
.feed-index .image-data:hover .black-line {
  background-color: orange;
}

@media (max-width: 36em) {
  .projects-page {
    flex-direction: column;
    align-content: space-around;
  }
}
.projects-page .project-info {
  padding-left: 2rem;
  position: fixed;
  overflow: scroll;
  width: 50%;
  height: 100%;
}
.projects-page .project-info p {
  font-size: 2.5em;
  font-family: "Miller Ban Lt";
}
.projects-page .image-gallery {
  width: 50%;
  position: fixed;
  overflow: scroll;
  height: 100%;
  z-index: 0;
  right: 0;
  margin-top: 2rem;
}
@media (max-width: 36em) {
  .projects-page .image-gallery {
    width: 100%;
    margin-top: 0;
    font-family: "Miller Ban Lt";
    font-size: 1.5em;
  }
  .projects-page .image-gallery p {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
.projects-page .image-gallery .project-images {
  margin-top: 1rem;
  width: 100%;
  height: 50vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top;
}
@media (max-width: 36em) {
  .projects-page .image-gallery .project-images {
    background-position: center;
    margin: 0;
    padding: 0;
  }
}

#lightbox {
  position: fixed;
  opacity: 0;
  top: 0;
  z-index: -10;
  width: 100%;
  height: 100%;
  background-color: white;
}
@media (max-width: 52em) {
  #lightbox {
    background-color: white;
  }
}

.index-page {
  max-height: 1000px;
  width: 100%;
}
.index-page p {
  color: black;
}
.index-page .title {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: space-around;
  width: 100%;
  height: 100%;
  z-index: 100;
  pointer-events: none;
  background-color: transparent;
  mix-blend-mode: difference;
  transition: 1s 1s opacity ease-in-out;
  opacity: 1;
}
.index-page .title.is-active {
  opacity: 0;
  transition: 1s opacity ease-in-out;
}
.index-page .title .title-text {
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #121212;
  font-size: 120px;
}
@media (max-width: 60em) {
  .index-page .title .title-text {
    font-size: 80px;
  }
}
@media (max-width: 52em) {
  .index-page .title .title-text {
    font-size: 65px;
    -webkit-text-stroke-width: 2px;
  }
}
@media (max-width: 36em) {
  .index-page .title .title-text {
    font-size: 45px;
  }
}
.index-page .left-container {
  position: fixed;
  z-index: 0;
}
.index-page .right-container {
  height: 100vh;
  margin-top: 110vh;
  z-index: 0;
}
.index-page .content-container {
  position: relative;
  display: inline-block;
  width: 50vw;
  height: 75vh;
  margin: 0;
  cursor: pointer;
}
@media (max-width: 36em) {
  .index-page .content-container {
    width: 50vw;
  }
}
.index-page .content-container .content .image {
  pointer-events: auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.1s, 0.1s;
  border: 2px solid;
  border-color: transparent;
  background-color: transparent;
}
.index-page .content-container .content .image p {
  opacity: 0;
  transition-duration: 0.1s, 0.1s;
}
.index-page .content-container .content .image:hover {
  background-size: 0;
  background-color: white;
  border-color: #FF5B00;
}
.index-page .content-container .content .image:hover p {
  opacity: 1;
  color: #FF5B00;
}

.feed .feed-gallery {
  pointer-events: none;
  z-index: -1;
  position: relative;
}
.feed .index-button {
  position: fixed;
  right: 0;
  z-index: 0;
  display: flex;
  float: right;
}
@media (max-width: 36em) {
  .feed .index-button {
    justify-content: center;
    width: 100%;
    padding: 0;
    top: 15%;
  }
}
.feed .feed-hero-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.feed .feed-hero-container .feed-hero-image {
  max-width: 100%;
  max-height: 100%;
  min-height: 80%;
  min-width: 80%;
  z-index: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
@media (max-width: 36em) {
  .feed .feed-hero-container .feed-hero-image {
    min-height: 100%;
    min-width: 100%;
    margin: 0;
    margin-top: 4rem;
    padding: 0;
  }
}

.object-page {
  width: 100%;
  height: 100%;
}
.object-page .object-gallery {
  position: relative;
  display: inline-block;
  float: right;
  top: 0;
  right: 0;
  overflow: scroll;
  z-index: -2;
}
@media (max-width: 36em) {
  .object-page .object-gallery {
    padding-top: 25%;
  }
}
.object-page .object-gallery .object-image {
  margin-left: 0%;
  margin-top: 0%;
}
.object-page .object-text-container {
  visibility: hidden;
  float: left;
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 3rem;
  z-index: -1;
  pointer-events: none;
}
@media (max-width: 36em) {
  .object-page .object-text-container {
    z-index: -1;
    padding: 0;
    margin: 0;
    bottom: 0;
  }
}
.object-page .object-text-container .project-info, .object-page .object-text-container .title {
  font-size: 3em;
  font-family: "Miller Ban Lt";
}
@media (max-width: 52em) {
  .object-page .object-text-container .project-info, .object-page .object-text-container .title {
    font-size: 1.5em;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
  }
}

html {
  -webkit-font-smoothing: antialiased;
}

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

/*# sourceMappingURL=main.css.map */
