.joeldown {
  strong {
    font-family: Helvetica, Arial, sans-serif;
    font-style: normal;
    font-size: 12px;
    font-weight: 400;
    vertical-align:super;

    @media (max-width:$sm) {
      font-family: Helvetica, Arial, sans-serif;
      font-style: normal;
      font-size: 12px;
      font-weight: 400;
    }
  }
  em{
    font-style: normal;
    line-height: .8em;
    border-bottom: 1px dotted #000032;
    display: inline-block;
    line-height: 0.85;
  }
  del{
    font-style: normal;
    weight: Lighter;
    text-decoration:none;
    // color:pink;
    border-top: 1px solid red;
    content: "";
    top:50%;
    p{
      color:$black !important;
    }
  }
}
