.joeldown {
  strong {
    font-family: Helvetica, Arial, sans-serif;
    font-style: normal;
    font-size: 12px;
    font-weight: 400;
    vertical-align:super;

    @media (max-width:$sm) {
      font-family: Helvetica, Arial, sans-serif;
      font-style: normal;
      font-size: 12px;
      font-weight: 400;
    }
  }
  em{
    font-style: normal;
    // font-weight: Lighter;
    // border-bottom: 1px solid #000032;
    // margin-bottom:1rem;
    line-height: .8em;
    border-bottom: 1px dotted #000032;
    display: inline-block;
    line-height: 0.85;

  }
  del{
    font-style: normal;
    weight: Lighter;
    text-decoration:line-through;
  }
}
