.joeldown {
  strong {
    font-family: Helvetica, Arial, sans-serif;
    font-style: normal;
    font-size: 12px;
    font-weight: 400;
    @media (max-width:$sm) {
      font-family: Helvetica, Arial, sans-serif;
      font-style: normal;
      font-size: 12px;
      font-weight: 400;
    }
  }
}
