#svg2{
  transform-origin: 25% 25%;
  float:right;
  @media (max-width:$sm) {
    bottom:0;
    float:none;
    left:45%;
    position: fixed;
  }
}
#svg{
  transform-origin: 50% 50%;
  margin-left: 5%;
  @media (max-width:$sm) {
    top:0;
    float:none;
    margin-left: 0%;
    left:40%;
    position: fixed;
  }
}
svg{
 z-index: 100;
 width:40%;
 margin-top: 10%;
 @media (max-width:$md) {
   width:30%;
 }
 @media (max-width:$sm) {
   width:20%;
 }
}
