// .menu-svg-icons{
//   padding:1rem;
//}

#svg2{
  transform-origin: 33% 33%;
  float:right;
  @media (max-width:$sm) {
    bottom:0;
    float:none;
    left:45%;
    position: fixed;
  }
}
#svg{
  transform-origin: 50% 50%;
  @media (max-width:$sm) {
    top:0;
    float:none;
    left:40%;
    position: fixed;
  }
}
svg{
   z-index: 50;
   width:60%;
   @media (max-width:$sm) {
     width:20%;
   }

}
