.menu{
  .menu-button, .menu-graphic-container {
    z-index:100;
    background-color: transparent;
    cursor: pointer;
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    pointer-events: none;
    .menu-graphic{
      width:5%;
      height:5%;
      pointer-events: auto;
      .menu-links{
        width:0%;
        height:100%;
        position:fixed;
        transition-duration: 0.3s, 0.3s;
        overflow-x: hidden;
        align-items: center;
        top:0;
        margin-top:5%;
        margin-left:10%;
        text-align: center;
        .menu-text{
          font-size:6em;
          color:transparent;
          -webkit-text-stroke-width: 4px;
          -webkit-text-stroke-color: black;
          -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
          //
          // mix-blend-mode: difference;
          // opacity: .99;
          @media (max-width:48em) {
            margin-top:15%;
            font-size:2rem;
            -webkit-text-stroke-width: 2px;
          }
        }
        &.is-active{
          width:80%;
        }
        @media (max-width:48em) {
          font-size:3rem;
          margin-left:0%;
        }
      }
    }
    .filters{
      float:right;
      pointer-events: auto;
      .menu-links{
        right:0;
        margin-top:5%;
        margin-right:10%;
        width:0%;
        height:100%;
        text-align: center;

        &.is-active{
          width:80%;
        }
      }
      .exit-button-filter{
        display:none;
        &.is-active{
          display:block;
        }
      }
    }
  }
}
