.menu{
  .menu-button, .menu-graphic-container {
    background-color: transparent;
    cursor: pointer;
    position: fixed;
    top: 0;
    width:100%;
    height:100%;
    display: flex;
    justify-content: space-between;;
    align-items: center;
    pointer-events: none;
    mix-blend-mode: color-dodge;

    .menu-graphic{
      pointer-events: auto;
      #lbutt{
        position: relative;
        z-index:100;
       @media only screen and (max-device-width: 736px) and (orientation: portrait) {
          z-index:100;
         }
       }
       #rbutt{
         position: relative;
         z-index:100;

        @media only screen and (max-device-width: 736px) and (orientation: portrait) {
          z-index:100;
         }
       }
      .menu-links{
        width:0%;
        top:0;
        height:100%;
        transition-duration: 0.1s, 0.1s;
        overflow-x: hidden;
        align-items: center;
        align-content: space-around;
        position: absolute;
        justify-content: center;
        -webkit-flex-direction: column;
        flex-direction: column;
        display: flex;
        z-index:2;
        @media (max-width:$sm) {
          position: fixed;
          height:0%;
          width:100%;
        }
        &.is-active{
          width:100%;
          @media (max-width:$sm) {
            padding-top: 15%;
            padding-bottom: 15%;
            height:100%;
            width:100%;
          }
        }
        .menu-text{
          font-size:120px;
          text-align: center;
          color:transparent;
          -webkit-text-stroke-width: 2px;
          -webkit-text-stroke-color: $black;
          &:hover{
            -webkit-text-fill-color: $black;
          }
          @media (max-width:$lg) {
            font-size:80px;
          }
          @media (max-width:$md) {
            font-size:65px;
            -webkit-text-stroke-width: 2px;
          }
          @media (max-width:$sm) {
            font-size:45px;
            -webkit-text-stroke-width: 1px;
          }
        }
      }
      .exit-button-filter{
        display:none;
        &.is-active{
          display:block;
        }
      }
      #rlinks{
        float:right;
        right:0;
        @media (max-width:$md) {
          margin-right: 0%;
        }
      }
      #llinks{
        float:left;
        @media (max-width:$md) {
          margin-left: 0%;
        }
      }
    }
  }
}
