#screensaver {
   position: fixed;
   width:100%;
   height:110%;
   left:0px;
   top: 0px;
   transition: $duration;
   z-index:-9999;
   top:-20px;
   background-color: black;
   align-content: space-around;
   display:none;
   justify-content: center;
   flex-direction: row;
   @media (max-width:$sm) {
     width:200%;
   }
   .marquee {
    overflow: hidden;
    color:$orange;
    font-size: 100px;
    line-height: 10rem;
  }
}
