{# ------------------------------------------------------- #}
{# ONE OFF VIEW contact #}
{# This page can use any data from http:localhost:2000/cms/#/form/contact/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this contact's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ cms.contact.name }}{% endblock %}
{% block content %}
{% include "templates/partials/menu.html" %}

<div class="about-contact h2 pt2">
  <div class="name-text-about pl2 col-6 left">
    <p class="bold">{{ cms.contact.name }}</p>
    <p class="pt2">{{ cms.contact.markdown_text }}</p>
  </div>
  <div class="right">
    {% for image in cms.contact.gallery %}
      <img class="max-width-1 pr2" src="{{ image.url }}">
    {% endfor %}
    <div class="contact-info pt2 pr2">
      <p class="underline bold">Contact:</p>
      <p>{{ cms.contact.email }}</p>
      <p>{{ cms.contact.phone_number }}</p>
      {% for item in cms.contact.social_media %}
        <a class="text-decoration-none" href="{{ item.link }}" target="_blank">
          {{ item.social_network }}
        </a>
      {% endfor %}
    </div>
    <div class="features pt2 pr2">
      <p class="underline bold">Features:</p>
      {% for item in cms.contact.features %}
        <a class="text-decoration-none" href="{{ item.website }}" target="_blank">
          {{ item.name_of_publication }}
        </a>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
