{# ------------------------------------------------------- #}
{# ONE OFF VIEW contact #}
{# This page can use any data from http:localhost:2000/cms/#/form/contact/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this contact's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ cms.contact.name }}{% endblock %}
{% block content %}
{% set config = {hideFilter: true} %}
{% include "templates/partials/menu.html" %}
<a class="exit-button fixed right-0 text-decoration-none xs-hide h6 exil top-0 pt1 px2" href="/">EXIT</a>
<div class="about pt3 millerbannerlight">
  <div class="name-text-about lg-col-6 md-col-6 sm-col-12 inline-block">
    <p class="pb2">{{ cms.contact.name }}</p>
    <p class="pt1 joeldown">{{ cms.contact.info_about_jowl|markdown }}</p>
  </div>
  <div class="lg-col-6 md-col-6 sm-col-12 profile-pic-gallery right">
    {% for image in cms.contact.pictures_of_jowl %}
      <img class="profile-pic bwimage fit" src="{{ image.url }}" />
    {% endfor %}
    <div class="contact-info ">
      <p class="underline py1">Contact:</p>
      <p>{{ cms.contact.email }}</p>
      <p>{{ cms.contact.phone_number }}</p>
      {% for item in cms.contact.social_media %}
        <a class="text-decoration-none" href="{{ item.link }}" target="_blank">
         <p>{{ item.social_network }}</p>
        </a>
      {% endfor %}
    </div>
    <div class="features mb1">
      <p class="underline py1">Features:</p>
      {% for item in cms.contact.features %}
        <a class="text-decoration-none" href="{{ item.website }}" target="_blank">
          <p>{{ item.name_of_publication }}</p>
        </a>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
