{% extends "templates/partials/base.html" %}

{%
  set share_card = {
    title: getSetting('site_name'),
    preview_text: getSetting('site_description'),
    image: cms.layout.share_card_image.url
  }
%}

{% block body_attributes %}data-page="feed"{% endblock %}

{% block title %}{% parent %} - {{ cms.feed.name }}{% endblock %}
{% block content %}

<div id='react-feed' data-images='{{cms.feed.grid | json}}'></div>

{% include "templates/partials/menu.html" with config%}
{% include "templates/partials/screensaver.html" %}
{% endblock %}
