{# ------------------------------------------------------- #}
{# ONE OFF VIEW feed #}
{# This page can use any data from http:localhost:2000/cms/#/form/feed/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this feed's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ cms.feed.name }}{% endblock %}
{% block content %}
{% include "templates/partials/menu.html" %}
<div class="feed clearfix">
  <div class="feed-container pt2 col-12">
    {% for row in cms.feed.grid %}
    <div class="feed-gallery">
        <div class="content">
           <div class="feed-image" style="background-image: url({{ row.image.url }}"></div>
        </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
