{# ------------------------------------------------------- #}

{# YOUR HOMEPAGE #}

{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}

{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}

{# ------------------------------------------------------- #}

{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}

{# This sets our page <title>. It will append "- Homepage" to the site title defined in base. #}
{% block title %}{% parent %} - Homepage{% endblock %}

{% block content %}
<div class="clearfix">
  <div class="menu">
    <div class="menu-button center" >
      <p>[]</p>
    </div>
      <div class="menu-links center">
        <p class="h1 p0"><a class="text-decoration-none white" href="/contact">contact</a></p>
        <p class="h1 p0"><a class="text-decoration-none white" href="#">stuff</a></p>
        <p class="h1 p0"><a class="text-decoration-none white" href="#">stuff</a></p>
      </div>
   </div>
  {% for project in cms.projects %}
    <div class="index-image col-12" data-panel="{{ project._id }}">
      <img class= "col-6 fit" src="{{ project.main_image.url }}"/>
    </div>
    <div class="panel" id="panel-{{project._id}}">
      <p class= "h1 project-title m1" data-panel="panel-{{project._id}}"> {{ project.name }}</p>
      <div class="col-6 right">
        {% for image in project.project_gallery %}
          <img class= "project-images m1 fit mx-auto block" src="{{ image.url }}" />
        {% endfor %}
      </div>
      {% for image in project.project_gallery %}
      <p class= "col-5 m1"> {{ image.caption }}</p>
      {% endfor %}
    </div>
  {% endfor %}
</div>

{% endblock %}
