{# YOUR HOMEPAGE #}
{%
  set share_card = {
    title: getSetting('site_name'),
    preview_text: getSetting('site_description'),
    image: cms.layout.share_card_image.url
  }
%}

{% extends "templates/partials/base.html" %}
{% set config = {projects: true} %}

{# This sets our page <title>. It will append "- Homepage" to the site title defined in base. #}
{% block title %}{% parent %} - Homepage{% endblock %}
{% block content %}
<div class="index-page pt1 bwimage">
  <div class="title mx-auto col-12 is-active">
    <div class="center title-text fixed mx-auto exiloutline"><p class="mx-auto">{{cms.home.name}}</p></div>
  </div>
  <div class="big xs-hide">
    <div class="left-container absolute col col-6" id="js-reverseScroll">
      {% for item in cms.home.left_column %}
       <a href="{{ url(item) }}" >
        <div class= "content-container {% for filter in item.filters %} {{ filter.name  }} {% endfor %}" style="width:{{ item.width_and_height }}%; margin-top:{{ item.margintop }}%; margin-left:{{ item.marginleft }}%">
          <div class="text-container">
            <p class="exil mx-auto center absolute" style="width:{{ item.width_and_height }}%">{{item.name}}</p>
          </div>
          <img class="image" style="width:100%" src="{{ item.main_image.url }}"/>
        </div>
       </a>
      {% endfor %}
    </div>
    <div class="right-container absolute right-0 col-6">
      {% for item in cms.home.right_column %}
      <a href="{{ url(item) }}" >
       <div class= "content-container {% for filter in item.filters %} {{ filter.name  }} {% endfor %}" style="width:{{ item.width_and_height }}%; margin-top:{{ item.margintop }}%; margin-left:{{ item.marginleft }}%">
         <div class="text-container">
           <p class="exil mx-auto center absolute" style="width:{{ item.width_and_height }}%">{{item.name}}</p>
         </div>
         <img class="image" style="width:100%" src="{{ item.main_image.url }}"/>
       </div>
      </a>
      {% endfor %}
    </div>
  </div>
  <div class="sm-hide right-container md-hide lg-hide">
    {% for item in cms.home.left_column %}
     <a href="{{ url(item) }}" >
       <div class= "content-container" style="width:{{ item.width_and_height }}%; margin-top:{{ item.margintop }}%; margin-left:{{ item.marginleft }}%">
         <div class="text-container">
           <p class="exil mx-auto center absolute" style="width:{{ item.width_and_height }}%">{{item.name}}</p>
         </div>
         <img class="image {% for filter in item.filters %} {{ filter.name  }} {% endfor %}" style="width:100%" src="{{ item.main_image.url }}"/>
       </div>
     </a>
    {% endfor %}
    {% for item in cms.home.right_column %}
     <a  href="{{ url(item) }}">
       <div class= "content-container" style="width:{{ item.width_and_height }}%; margin-top:{{ item.margintop }}%; margin-left:{{ item.marginleft }}%">
         <div class="text-container">
           <p class="exil mx-auto center absolute" style="width:{{ item.width_and_height }}%">{{item.name}}</p>
         </div>
         <img class="image {% for filter in item.filters %} {{ filter.name  }} {% endfor %}" style="width:100%" src="{{ item.main_image.url }}"/>
       </div>
     </a>
    {% endfor %}
  </div>
</div>
{% include "templates/partials/menu.html" %}
{% include "templates/partials/screensaver.html" %}

{% endblock %}
