{%
  set share_card = {
    title: getSetting('site_name'),
    preview_text: getSetting('site_description'),
    image: cms.layout.share_card_image.url
  }
%}

{% block body_attributes %}data-page="object"{% endblock %}

{% extends "templates/partials/base.html" %}
{% block title %}{% parent %} - {{ cms.object.name }}{% endblock %}
{% block content %}


{%
  set config = {
    hideFilter: true,
    gallery: cms.feed.grid,
    hero: cms.feed.grid[0].image.url
  }
%}

<div class="object-page bwimage mt3 joeldown">
  <div class='col col-12'>
    <div class='col col-6 fixed'>
      <div class="object-text-container relative pt2">
        <div class="title millerbannerlight xs-hide mb2 mt2" id="static-title">
          {{ cms.object.grid[0].title }}
        </div>
        <div class="project-info millerbannerlight">
          <div class="mb1 sm-hide md-hide lg-hide" id="static-title-mobile">
            {{ cms.object.grid[0].title }}
          </div>
          <div class="markdowndiv" id="static-text">
            {{ cms.object.grid[0].text|markdown }}
          </div>
        </div>
      </div>
    </div>
    <div class='col-6 right'>
      {% for row in cms.object.grid %}
      <div class="col-12">
        <div class="object-gallery pt2" data-text='{{row.text|markdown}}'  data-title='{{row.title}}'>

          {% if row.video_1_url %}
            <div class='video-iframe mb1'>
              <iframe src="{{row.video_1_url}}"
                      frameborder="0"
                      webkitallowfullscreen
                      mozallowfullscreen
                      allowfullscreen>
              </iframe>
            </div>
          {% endif %}
          {% if row.video_2_url %}
            <div class='video-iframe mb1'>
              <iframe src="{{row.video_2_url}}"
                      frameborder="0"
                      webkitallowfullscreen
                      mozallowfullscreen
                      allowfullscreen>
              </iframe>
            </div>
          {% endif %}
          {% if row.video_3_url %}
            <div class='video-iframe mb1'>
              <iframe src="{{row.video_3_url}}"
                      frameborder="0"
                      webkitallowfullscreen
                      mozallowfullscreen
                      allowfullscreen>
              </iframe>
            </div>
          {% endif %}

          {% for image in row.gallery %}
            <img class="object-image project-images my1 mx-auto block fit" src="{{ image | imageSize(800, 'auto')}}">
          {% endfor %}
          <div class="gallery-bottom" ></div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% include "templates/partials/menu.html" with config %}
{% include "templates/partials/screensaver.html" %}
{% endblock %}
