{# ------------------------------------------------------- #}
{# ONE OFF VIEW object #}
{# This page can use any data from http:localhost:2000/cms/#/form/object/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this object's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ cms.object.name }}{% endblock %}
{% block content %}
{% set config = {hideFilter: true} %}
{% include "templates/partials/menu.html" %}
{% include "templates/partials/exit-button.html" %}
<div class="object-page mt3">
    {% for row in cms.object.grid %}
    <div class=" px2 col col-12">
      <div class="object-text-container px2 absolute right-0 pt2 col-5 ">
        <div class="title mt2">
          {{ row.title }}
        </div>
        <div class="project-info ">
          {{ row.text|markdown }}
        </div>
      </div>
      <div class="object-gallery right col pt2 col-6">
        {% for image in row.gallery %}
          <img class="object-image my2 mx-auto block fit" src="{{ image.url}}">
        {% endfor %}
        <div class="gallery-bottom"></div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
